/* Navbar */
.header {
  background-color: #f8f9fa;
}

.navbar-brand img {
  width: 35px;
  height: 35px;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
}

.nav-item .avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

/* Footer */
.footer {
  background-color: #212529;
  padding: 1rem 0;
}

.footer-bottom {
  background-color: #212529;
  color: #93928e;
}

/* Index */
.slide-image {
  height: 680px;
  object-fit: cover;
  filter: brightness(0.7);
}

.carousel-caption-static {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: rgba(33, 36, 41, 0.9);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
}

.filtros-rapidos .form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px;
}

.filtros-rapidos .form-group {
  flex: 1;
  min-width: 120px;
  text-align: center;
}

.filtros-rapidos label {
  display: block;
  text-align: center;
}

.filtros-rapidos .btn {
  width: 100%;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  height: 38px;
}

/* Profile Info */
.vh-100 {
  height: 100vh;
}

.gradient-custom {
  position: relative;
  background-image: url("/imgs/imagenCasa3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.container {
  z-index: 2;
}

.card {
  border-radius: 1rem;
}

.profile-button {
  background-color: #007bff;
  border: none;
}

.profile-button:hover {
  background-color: #0056b3;
}

.rounded-circle {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Propiedades de la vista propietarios */
#home-page {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
}

#list-title,
#home-page h5 {
  color: #333;
}

#add-alojamiento-section {
  padding: 1rem 0;
  background-color: #d5e6f7;
  text-align: center;
}

#add-alojamiento-btn {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

#alojamientos-list-section {
  background-color: #d5e6f7;
  padding: 1rem 0 2rem;
}

#list-title {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.alojamiento-card .card {
  border: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.card-img-top {
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.alojamiento-card {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.alojamiento-card .card-body {
  display: flex;
  flex-direction: column;
}

.alojamiento-nombre {
  font-weight: bold;
  text-transform: capitalize;
  color: #333;
}

.alojamiento-desc,
.alojamiento-precio {
  color: #555;
  margin: 0.5rem 0;
}

.edit-alojamiento-btn,
.delete-alojamiento-btn {
  width: 48%;
  margin: 0.5rem 1%;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Oscurecer el fondo */
  z-index: 999;
}

#modal-alojamiento .modal-header {
  background-color: #007bff;
  color: white;
}

#modal-alojamiento .modal-content {
  border-radius: 8px;
}

#modal-alojamiento .modal-footer .btn-primary {
  background-color: #007bff;
  border: none;
}

#modal-alojamiento .modal-footer .btn-primary:hover {
  background-color: #0056b3;
}

@media (max-width: 576px) {
  .alojamiento-card {
    margin-bottom: 1rem;
  }

  #add-alojamiento-btn {
    width: 100%;
  }
}
