body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(150deg, #b5f7f3, #b5f7f3);
    height: 100vh;
    background: url(img1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.inicio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 15px;
}

.inicio h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.inicio form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .user {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.user input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.user label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

form .password {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.password input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.password label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
}

.recuperar {
    margin: -5px 0 20px 5px;
    color: blue;
    cursor: pointer;
}

.recuperar:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: forestgreen;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: forestgreen;
    transition: .5s;
}

.registrar {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}

.registrar a {
    color: blue;
    text-decoration: none;
}




